.section {
  .cards {
    height: 182em;
    display: flex;
    justify-content: space-between;
    padding: 48em 0 24em 0;
    box-sizing: border-box;
    border-bottom: 1px solid #d3d6d5;

    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 8em;

      .title {
        text-decoration: none;
        color: #282a2e;
        font-family: "Roboto Flex";
        font-style: normal;
        font-weight: 500;
        font-size: 24em;
        line-height: 140%;
      }
      .subtitle {
        font-family: "Roboto Flex";
        font-style: normal;
        font-weight: 400;
        font-size: 20em;
        line-height: 140%;
      }
      .categoryLink {
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 8px;
        font-family: "Roboto Flex";
        font-style: normal;
        font-weight: 400;
        font-size: 20em;
        line-height: 140%;
        color: #282a2e;
      }
      .description {
        overflow: hidden;
        font-family: "Roboto Flex";
        font-style: normal;
        font-weight: 400;
        font-size: 20em;
        line-height: 140%;
        color: #888888;
      }
    }
    .buttons {
      display: flex;

      align-items: center;

      .count {
        box-sizing: border-box;
        padding: 8px 16px;
        gap: 8em;
        width: max-content;
        border: 1px solid #d3d6d5;
        border-radius: 24px;

        font-family: "Roboto Flex";
        font-style: normal;
        font-weight: 400;
        font-size: 20em;
        line-height: 140%;
        color: #888888;
      }
    }
  }
}
