.section {
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8em;

    border-bottom: 1px solid #d3d6d5;
    height: 240em;
    .title {
      font-family: "Roboto Flex";
      font-style: normal;
      font-weight: 500;
      font-size: 24em;
      line-height: 140%;
    }
    .subtitle {
      font-family: "Roboto Flex";
      font-style: normal;
      font-weight: 400;
      font-size: 20em;
      line-height: 140%;
    }
    .description {
      overflow: hidden;
      font-family: "Roboto Flex";
      font-style: normal;
      font-weight: 400;
      font-size: 20em;
      line-height: 140%;
      color: #888888;
    }
  }
}
