.section {
  background-image: url("../../../../../../assets/images/popular-task-bg.jpg");
  .content {
    padding: 48em 0 24em 0;
    display: flex;
    gap: 36em;

    flex-direction: column;
  }
  .taskList {
    display: flex;
    flex-direction: column;
    gap: 40em;
  }
}
