.popularTaskSection {
  background-image: url("../../../../../../assets/images/popular-task-bg.jpg");
  .content {
    padding: 24em 0 24em 0;
    display: flex;

    flex-direction: column;
    gap: 24em;
  }
  &__taskList {
    display: flex;
    flex-direction: column;
    gap: 40em;
  }
}
