.categoryCard {
  padding: 24px;
  background: var(--bg-blue-color);

  width: 100%;

  border-radius: 16px;

  &__description {
    max-width: 556px;
  }

  &__links {
    margin-top: 24px;

    display: flex;
    justify-content: space-between;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
  }

  &__variantsCount {
    padding: 7px 20px;

    color: white;
    font-family: 'Roboto Flex', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;

    border-radius: 25px;
    border: solid 1px white;
  }

  &__allVariants {
    padding: 12px 30px;

    color: var(--text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;

    border-radius: 25px;
    background: #12F3AF;
  }
}