.section {
  display: flex;
  justify-content: space-evenly;
  gap: 8em;
  flex-wrap: wrap;
  .buttons {
    display: flex;
    border-radius: 24em;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  .resume {
    border: 0.7px solid #282a2e;
    font-size: 20em;
    width: 5em;
    height: 2.5em;
    color: #282a2e;
  }
  .links {
    display: flex;
    width: 48em;
    height: 48em;
    background: #12f3af;
    border-radius: 24;
    justify-content: center;
    align-items: center;
  }
}
