.categorySection {
  padding: 40px 120px;
  
  @media screen and (max-width: 1200px) {
    padding: 40px 24px;
  }

  &__content {
    margin: 0 auto;

    max-width: 1200px;
  }

  &__contentFlex {
    gap: 24px;
    display: flex;
  }
}