.ExternalInfo {
  width: 50%;
  gap: 10em;
  display: none;
  flex-direction: column;
  .p {
    color: white;
    font-size: 20em;
    line-height: 1.2em;
  }
  .more {
    text-decoration: underline;
    cursor: pointer;
  }
  .overflowed {
    overflow: hidden;
    max-height: 7.2em;
  }
  &__link {
    color: var(--white-color);
  }
}
@media (orientation: portrait) {
  .ExternalInfo {
    width: 100%;
  }
  .ExternalInfoPortrait {
    display: flex;
  }
}
@media (orientation: landscape) {
  .ExternalInfoLandscape {
    display: flex;
  }
}
