.searchSection {
  padding: 78px 0;

  display: flex;
  align-items: center;
  flex-direction: column;

  background: var(--bg-green-color);

  &__title {
    max-width: 500px;
    text-align: center;

    @media screen and (max-width: 540px) {
      & {
        max-width: 400px;
      }
    }

    @media screen and (max-width: 360px) {
      & {
        max-width: 280px;
      }
    }
  }

  &__subtitle {
    margin-top: 16px;
  }

  &__search {
    position: sticky;
    top: 50px;
    right: 0;


    margin-top: 74px;

    z-index: 1;

    transition: all 0ms;

    @media screen and (max-width: 1100px) {
      & {
        z-index: 0;
      }
    }

    @media screen and (max-width: 540px) {
      & {
        margin-top: 33px;
      }
    }

    &__hidden {
      z-index: 0;
      opacity: 0;
    }
  }
}