.sectionMenuItem {
  padding: 24px 18px;

  max-width: 340px;

  font-family: "Roboto Flex", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #282a2e;
  box-shadow: 0px 0px 3px rgba(28, 158, 119, 0.25);
  border-radius: 16px;
  &:hover {
    background: #f7fded;
    cursor: pointer;
  }
}
