.header {
  .logo {
    cursor: pointer;
  }
  position: sticky;
  top: 0;

  z-index: 1;

  padding: 16px;
  background: var(--bg-green-color);

  &__content {
    margin: 0 auto;
    max-width: 1200px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__search {
    z-index: 1;
    margin-left: 52px;
  }
}
