.categoryCard {
  padding: 24em;
  box-sizing: border-box;
  background: var(--bg-blue-color);
  width: 100%;
  border-radius: 16em;
  &__description {
    max-width: 65%;
  }

  .links {
    margin-top: 24em;

    display: flex;
    flex-wrap: wrap;
    gap: 40em;
    justify-content: space-between;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
  }

  .taskCount {
    padding: 0.2em 1em;

    color: white;
    font-family: "Roboto Flex", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24em;
    line-height: 140%;

    border-radius: 25px;
    border: solid 1px white;
  }

  .allVariants {
    padding: 12px 30px;

    color: var(--text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;

    border-radius: 25px;
    background: #12f3af;
  }
}
