.section {
  width: 90vw;
  height: 132em;
  display: flex;
  align-items: center;
  gap: 24em;
  overflow: scroll;

  div {
    min-width: max-content;
    cursor: pointer;
    padding: 8px 20px;
    box-shadow: 0px 0px 3px rgba(28, 158, 119, 0.25);
    font-weight: 500;
    font-size: 20em;
    border-radius: 24em;
  }
  .active {
    background-color: #3e5372;
    box-shadow: none;
    color: white;
  }
}
