.h {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 130%;
  color: var(--text-color);

  &__underline {
    line-height: 150%;
    text-decoration-line: underline;

    @media screen and (max-width: 744px) and (min-width: 360px) {
      line-height: 140%;
    }
  }

  @media screen and (max-width: 360px) {
    font-size: 22px;
  }
}