.h {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 130%;
  color: var(--text-color);


  @media screen and (max-width: 360px) {
    font-size: 22px;
  }

  &_color_white {
    color: var(--white-color);
  }
  &_color_black {
    color: var(--text-color);
  }
  &_color_accent {
    color: var(--text-accent-color);
  }
  &_color_dim {
    color: var(--text-dim-color);
  }
  &_color_darkGreen {
    color: var(--text-dark-green-color);
  }

  &__underline {
    line-height: 150%;
    text-decoration-line: underline;

    @media screen and (max-width: 744px) and (min-width: 360px) {
      line-height: 140%;
    }
  }
}