@import url('./vendors/fonts/fonts.scss');

body {
  margin: 0;
  font-family: "Roboto Flex", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --white-color: white;

  --text-color: #282A2E;
  --text-dim-color: #888;
  --text-dark-green-color: #245353;
  --text-accent-color: #12F3AF;
  --text-secondary-color: #D3D6D5;

  --bg-light-green-color: #CDE2D9;
  --bg-green-color: #245353;
  --bg-black-color: #222;
  --bg-blue-color: #3E5372;
  --bg-hover-color: #F7FDED;
  --bg-accent-color: #12F3AF;

  --desktop-breakpoint: 1440;
  --table-breakpoint: 744;
  --mobile-breakpoint: 360;
}
