.section {
  overflow-x: auto;
  width: 100%;
  max-width: 90vw;
  height: 60em;
  margin: 24em 0 32em 0;
  display: flex;
  align-items: center;
  gap: 8em;
}

.link {
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #888;
  font-size: 20em;
  white-space: nowrap;
}
