.footerInfo {
  margin-top: 8px;

  gap: 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;

  &__materialInfo {
    margin: 0;
    max-width: 650px;

    @media screen and (max-width: 850px) {
      & {
        max-width: 400px;
      }
    }
  }

  &__metric {
    margin: 0;
  }
}