.popularTaskCardVariants {
  gap: 24px;
  display: flex;

  @media screen and (max-width: 1200px) {
    gap: 16px;
    flex-direction: column;
  }

  &__variants {
    gap: 24px;
    display: flex;
  }

  &__variantLink {
    padding: 5px 25px;
    border-radius: 23px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #222222;
    text-decoration: none;

    background: #FFFFFF;
  }
}