.popularTaskCardVariants {
  margin-top: 50em;
  gap: 24em;
  display: flex;
  align-items: center;
  .darkBlue {
    color: #3e5372;
  }
  .white {
    color: white;
    background-color: #245353;
  }
  .darkGreen {
    color: #245353;
  }
  @media (orientation: portrait) {
    flex-direction: column;
  }

  &__variants {
    gap: 24em;
    display: flex;
    flex-wrap: wrap;
  }

  &__variantLink {
    padding: 0.2em 1em;
    min-height: 2em;
    border-radius: 2em;
    font-size: 20em;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #222222;
    text-decoration: none;

    background: #ffffff;
  }
}
