.section {
  width: 378em;
  height: 402em;
  display: grid;
  justify-content: center;
  gap: 15em;
  .avatar {
    margin: auto;
    width: 254em;
    height: 254em;
    border-radius: 200em;
    object-fit: cover;
  }
  .fullName {
    text-align: center;
    font-size: 24em;
    font-weight: 500;
  }
  .jobTitle {
    text-align: center;
    font-size: 20em;
  }
}
